

article,
aside,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 2%;
}

button,
input {
    overflow: visible;
    font-size: 1rem;
    padding: 2%;
}

button,
select {
    text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,
menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*style our page*/

header {
    display: flex;
    justify-content:space-around;
    font-family: 'Pacifico', cursive;
    background-color: slategrey;
    width: 100%;
    padding-bottom: 2%;
    color:pink;
    
}
html{
    background: slategrey;
    height: 100vh;
}
footer{
    position:absolute;
    width:100%;
}
section{
    width:100%;
}
.wrapper{
    margin:0 auto;
    max-width: 1680px;
    width: 76%;
    margin:0 auto;
}


header h1 {
    font-size: 25px;
}

.gender {
    display: flex;
    justify-content: space-around;
}

.form.form.theform {
    display: flex;
    justify-content:space-between;
    background-color: slategrey;
    min-width: 100%;
    margin:0;

}

.idea-name,
.check-name {
    font-size:1.5rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-family: 'Courgette', cursive;
    text-align: center;
    border-radius: 15px;
    background: pink;
    width:40%;
    padding:5%;
    margin-top: 2%;

}
.idea-name p, .check-name p{
    padding: 5%;
    margin-bottom:5%;
}



.check-name-button,.idea-name-button {
    border-radius: 15px;
    font-family: 'Coda', cursive;
    color: darkgrey;
    font-size: 1rem;
    background-color: purple;
    border: white solid 2px;
    padding: 3% 5%;
    box-shadow: 4px 4px purple;
    text-align:center;
    width: 40%;
    margin:auto;
}

.check-name p {
    color: black;
}


/*.idea-name-button {
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 15px;
    font-family: 'Coda', cursive;
    color: darkgrey;
    background-color: purple;
    padding: 3% 5%;
    box-shadow: 4px 4px purple;
    text-align:center;
    width: 40%;
    margin:auto;
    font-size: 1rem;
}*/

.gender-boy,
.gender-girl {
    text-transform: uppercase;
    margin: 4%;
}



.left-footer {
    padding-bottom: 1%;
}

#answer {
    text-align: center;
    font-family: 'Coda', cursive;
    color: white;
    font-size: 2.5em;
}

#listnames {
    display: none;
}

#randyName {
    text-align: center;
    font-family: 'Coda', cursive;
    color: white;
}

.tryAgain {
    text-align: center;
    font-family: 'Coda', cursive;
    color: white;
    background: slategray;
    font-size: 1.5em;
}
header {
        padding-top: 1%;
     
    }
header .logo {
        font-size: 2rem;
        margin: auto 0;
    }
.title {
        font-size: 1rem;
       
    }

/* RESPONSIVE */

@media only screen and (max-width:800px) {
    .idea-name-button {
        margin-top: 25%;
    }
    .form {
        flex-direction:column;
        padding: 5%;
    }
    .idea-name {
       
        width: 100%;
    }
    .check-name {
                width: 100%;
    }
    
    .baby-image {
        display: none;
    }
    
}


/* RESPONSIVE */